/* Add screen styles below */

body {
    background-color: #FCFBFA;
    margin: 0px;
}

img {
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 2px 20px;
    background-color: #fff;
}

.about {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
}

h1 {
    color: #3A8A88;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 36px;
    letter-spacing: -2px;
}

h2 {
    color: #10747D;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: -1px;
    margin: 0;
}

p {
    color: #424242;
    font-family: Montserrat, "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.hero {
    margin: 0 auto;
    padding: 50px;
    width: 50%;
    font-size: 36px;
    color: #424242;
    letter-spacing: -1px;
    font-family: "Open Sans", Helvetica, sans-serif;
    text-align: center;
}




