/* Add screen styles below */

body {
    background-color: #FCFBFA;
    margin: 0px;
}

header {
    padding: 2px 10px;
    background-color: #fff;
}

h1 {
    color: #3A8A88;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 36px;
    letter-spacing: -2px;
}

h2 {
    color: #10747D;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: -1px;
}

p {
    color: #424242;
    font-family: Montserrat, "Open Sans", Helvetica, sans-serif;
}

.card {
    margin: 0 auto;
    padding: 50px;
    width: 50%;
    text-align: center;
}

.img {
    float: right;
}